*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    -webkit-text-size-adjust: none;
    text-size-adjust: none;
}

html, body {
    width: 100%;
    overflow-x: hidden;
}

a {
    text-decoration: none;
    color: inherit;
    -webkit-tap-highlight-color: transparent;
}

ul, ol, li {
    list-style: none;
}

img, svg, videp, canvas {
    display: block;
    max-width: 100%;
    height: auto;
}

button {
    background: none;
    border: none;
    cursor: pointer;
    font: inherit;
    color: inherit;
    padding: 0;
    -webkit-tap-highlight-color: transparent;
}

input, select, textarea {
    font: inherit;
    color: inherit;
    outline: none;
    border: none;
    background: none;
}


